.coffe-btn {
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: transparent;
  outline: none;
}
.coffe-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(242, 239, 187);
  background: linear-gradient(
    347deg,
    rgba(242, 239, 187, 1) 0%,
    rgba(205, 189, 85, 1) 12%,
    rgba(220, 210, 127, 1) 23%,
    rgba(242, 239, 187, 1) 35%,
    rgba(205, 189, 85, 1) 50%,
    rgba(242, 239, 187, 1) 65%,
    rgba(220, 210, 127, 1) 77%,
    rgba(205, 189, 85, 1) 88%,
    rgba(242, 239, 187, 0.9777626811594203) 100%
  );
  transform: translateX(0);
  transition: opacity 300ms linear, visibility 300ms linear, transform 300ms linear;
  padding: 5px;
  z-index: 10;
}
.coffe-menu.is-hidden-mob {
  transform: translateX(100%);
}
.ps-coffe__text {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
  margin-top: 50%;
  font-weight: 600;
  text-transform: uppercase;
}
.coffe__title {
  font-size: 60px;
  margin-top: 20%;
  font-weight: 600;
  margin-bottom: 20px;
}
.coffe__price {
  font-family: 'Russo One', sans-serif;
  font-size: 30px;
}
