.home .container {
  width: 320px;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.home {
  overflow: hidden;
}

.back-btn {
  background-color: transparent;
  border: none;
  background-image: url(../image/back.png);
  background-repeat: no-repeat;
  background-size: 30px;
  position: absolute;
  top: 30px;
  left: 20px;
  width: 50px;
  height: 50px;
  outline: none;
}
.telefon {
  position: absolute;
  top: 47%;
  left: 8%;
  fill: rgb(34, 32, 32);
  transform: rotate(45deg);
  animation: telephone 3s linear infinite;
}
.google {
  position: absolute;
  top: 30%;
  left: 10%;
  fill: rgb(34, 32, 32);
  transform: rotate(20deg);
  animation: google 3s linear infinite;
}
.instagram {
  position: absolute;
  top: 63%;
  left: 12%;
  fill: rgb(34, 32, 32);
  transform: rotate(-35deg);
  animation: inst 3s linear infinite;
}
.home-title {
  color: rgb(255, 255, 0);
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  animation: hidden 7s linear infinite;
}
