.info-btn {
  position: absolute;
  background-color: transparent;
  border: 2px solid rgb(37, 36, 36);
  border-radius: 50%;
  height: 190px;
  width: 190px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: shadow 3s linear infinite;
  outline: none;
}
.info-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(242, 239, 187);
  background: linear-gradient(
    347deg,
    rgba(242, 239, 187, 1) 0%,
    rgba(205, 189, 85, 1) 12%,
    rgba(220, 210, 127, 1) 23%,
    rgba(242, 239, 187, 1) 35%,
    rgba(205, 189, 85, 1) 50%,
    rgba(242, 239, 187, 1) 65%,
    rgba(220, 210, 127, 1) 77%,
    rgba(205, 189, 85, 1) 88%,
    rgba(242, 239, 187, 0.9777626811594203) 100%
  );
  transform: translateX(0);
  transition: opacity 300ms linear, visibility 300ms linear, transform 300ms linear;
  padding-top: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-menu.is-hidden-mob {
  transform: translateX(100%);
}
.info__text {
  text-align: center;
  top: 65%;
  left: 50%;
  font-weight: 700;
  font-size: 17px;
  width: 350px;
  font-family: 'Russo One', sans-serif;
}
.info__title {
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}
